<div class="swiper mt-40 md:mt-60 lg:mt-80 xl:mt-100">
  <div class="swiper-wrapper">
    {{ projects }}
      <div class="swiper-slide" 
        data-slide-title="{{ title }}" 
        data-slide-text="{{ teaser }}"
        data-slide-url="/foerderung/{{ category }}/{{ title | slugify }}">
        {{ partial:components/media/image imageClass="!h-full aspect-[16/10] lg:aspect-[16/9] xl:aspect-[16/8]" }}
      </div>
    {{ /projects}}
  </div>
  <a href="javascript:;" title="Vorheriger Slide" class="swiper-btn-prev">
    {{ partial:icons/chevron-left class="h-40 lg:h-60 w-auto" }}
  </a>
  <a href="javascript:;" title="Nächster Slide" class="swiper-btn-next">
    {{ partial:icons/chevron-right class="h-40 lg:h-60 w-auto" }}
  </a>
</div>
<div class="swiper-pagination relative w-full max-w-inner mx-auto px-20 lg:px-40"></div>

<div class="w-full max-w-inner mx-auto px-20 lg:px-40 mt-20 lg:mt-30">
  {{ projects limit="1" }}
  <div>
    <h2 class="text-lg md:text-2xl lg:text-4xl xl:text-5xl leading-[1.2] mb-15 md:mb-30 lg:mb-45" data-project-title>
      {{ title }}
    </h2>
    <div class="max-w-5xl mb-20 md:mb-35 lg:mb-45" data-project-text>
      {{ teaser | nl2br }}
    </div>
    <a 
      href="/foerderung/{{ category }}/{{ title | slugify }}" 
      class="underline decoration-1 underline-offset-4 hover:text-rose transition-all"
      data-project-url>
      Weitere Informationen
    </a>
  </div>
  {{ /projects }}
</div>
