<figure class="w-full h-[400px] xl:h-[450px] relative">
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:url preset='hero-2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:url preset='hero-xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:url preset='hero-lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:url preset='hero-md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:url preset='hero-2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:url preset='hero-xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:url preset='hero-lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:url preset='hero-md' }}" 
      alt="{{ title }}" 
      title="{{ title }}" 
      height="{{ height }}" 
      width="{{ width }}"
      class="object-cover absolute w-full h-full">
  </picture>
</figure>