@font-face {
  font-family: 'GTEestiProDisplay-Regular';
  src: url('fonts/GTEestiProDisplay-Regular.eot');
  src: url('fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/GTEestiProDisplay-Regular.woff2') format('woff2'), url('fonts/GTEestiProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}