@font-face {
  font-family: 'GTEestiProText-Regular';
  src: url('fonts/GTEestiProText-Regular.eot');
  src: url('fonts/GTEestiProText-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/GTEestiProText-Regular.woff2') format('woff2'), url('fonts/GTEestiProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}