<div 
  x-cloak x-show="menu"  
  class="bg-rose fixed left-0 top-0 w-full h-full z-40 lg:hidden">
  {{ partial:layout/inner class="min-h-[80px] md:min-h-[100px] relative flex justify-between items-center" }}
    <a href="/" title="Startseite Mihm Foundation">
      {{ partial:icons/logo class="w-160 md:w-[200px] lg:w-[280px] h-auto" theme="white" }}
    </a>
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="Menü schliessen" 
      class="mr-4">
      {{ partial:icons/cross class="block w-24 h-auto text-white" }}
    </a>
  {{ /partial:layout/inner }}
  <div class="px-20 fixed top-80 lg:top-100 right-0 w-full h-[calc(100vh_-_80px)] lg:h-[calc(100vh_-_100px)] overflow-y-auto z-20">
    <nav class="md:mt-20">
      <ul>
        {{ nav:main }}
          {{ partial:menu/overlay/parent-item }}
        {{ /nav:main }}
      </ul>
    </nav>
    {{ partial:components/socials class="mt-20" hover="hover:text-black" }}
  </div>
</div>