<header class="lg:py-20 xl:py-40 xl:pb-60">
  {{ partial:layout/inner class="min-h-[80px] md:min-h-[100px] relative flex justify-between lg:justify-start items-center lg:items-end py-20" }}

    <a href="/" title="Startseite {{ config:app:name }}">
      {{ partial:icons/logo class="w-180 md:w-[200px] lg:w-[240px] xl:w-[390px] h-auto" theme="{{ logo_theme ?? 'white' }}" }}
    </a>

    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="Menü anzeigen" 
      class="lg:hidden">
      {{ partial:icons/burger class="w-32 h-auto text-white" }}
    </a>

    {{ partial:menu/main/wrapper }}

    {{ partial:menu/overlay/wrapper }}

  {{ /partial:layout/inner }}
</header>
