<section class="w-full max-w-inner mx-auto text-black theme-{{ theme }} mt-40 md:mt-60 lg:mt-80 xl:mt-100">
  <div class="w-full {{ class }} p-20 lg:p-30 xl:py-40 xl:px-50">
    {{ if title }}
      <h2>{{ title }}</h2>
    {{ /if }}
    {{ if text }}
      <div class="ext-md sm:text-lg md:text-xl xl:text-3xl leading-[1.1] mb-15 md:mb-30 lg:mb-45 hyphens-auto">
        {{ text }}
      </div>
    {{ /if }}
    {{ if link }}
      <a href="{{ link }}" target="{{ link_target }}" class="underline decoration-1 underline-offset-4 hover:no-underline">
        {{ link_text }}
      </a>
    {{ /if }}
  </div>
</section>