<section class="w-full max-w-inner mx-auto text-black theme-{{ theme }} mt-40 md:mt-60 lg:mt-80 xl:mt-100">
  <div class="w-full {{ class }} p-20 lg:p-30 xl:py-40 xl:px-50">
    {{ if title }}
      <h2 class="text-{{ text_color }}">{{ title }}</h2>
    {{ /if }}
    {{ if text }}
      <div class="text-md sm:text-lg md:text-xl xl:text-3xl leading-[1.1] text-{{ text_color }} hyphens-auto [&>p>a]:underline [&>p>a]:decoration-2 [&>p>a]:underline-offset-4 hover:[&>p>a]:no-underline">
        {{ text }}
      </div>
    {{ /if }}
    {{ if link }}
      <a href="{{ link }}" target="{{ link_target }}" class="block mt-15 md:mt-30 lg:mt-45 text-{{ text_color }} underline decoration-1 underline-offset-4 hover:no-underline">
        {{ link_text }}
      </a>
    {{ /if }}
  </div>
</section>