<div class="w-full max-w-inner mx-auto text-black">
  {{ partial:layout/label label="CTA Section" class="!bg-red-500 !mb-15" }}
  <div class="w-full {{ class }} p-20 lg:p-30 xl:py-40 xl:px-50">
    <h1 class="text-xl md:text-3xl lg:text-5xl xl:text-6xl leading-[1.2] mb-20 md:mb-40 lg:mb-55">
      Förderung beantragen
    </h1>
    <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl leading-[1.2] mb-15 md:mb-30 lg:mb-45 hyphens-auto">
      Die Mihm FoundationIhillis dolorro to inverrovita et peris eveligendae nonseque susaerfera exerchicit voluptatus est verum eat.
    </p>
    <a href="" class="underline decoration-1 underline-offset-4 hover:no-underline">Zum Antrag</a>
  </div>
</div>