{{ content }}
  {{ if type == 'text' }}
    {{ text }}
  {{ /if }}

  {{ if type == 'anchor' }}
    {{ partial:components/anchor }}
  {{ /if }}

  {{ if type == 'address' }}
    {{ partial:partials/components/address }}
  {{ /if }}

  {{ if type == 'team' }}
    {{ partial:partials/components/team }}
  {{ /if }}

  {{ if type == 'teaser' }}
    {{ partial:partials/components/teaser }}
  {{ /if }}

  {{ if type == 'image' }}
    {{ partial:partials/components/media/image }}
  {{ /if }}

  {{ if type == 'accordion' }}
    {{ partial:partials/components/accordion :id="id" }}
  {{ /if }}

  {{ if type == 'downloads' }}
    {{ partial:partials/components/media_downloads }}
  {{ /if }}

  {{ if type == 'media_download' }}
  {{ partial:partials/components/media_article }}
  {{ /if }}

  {{ if type == 'project_teasers' }}
    {{ partial:partials/components/project_teasers }}
  {{ /if }}


{{ /content }}