{{ partial:layout/section }}

{{ content }}
  {{ if type == 'text' }}
    {{ text }}
  {{ /if }}

  {{ if type == 'lead' }}
    {{ partial:components/lead }}
  {{ /if }}

  {{ if type == 'film_teaser' }}
    {{ partial:components/teaser/film }}
  {{ /if }}

  {{ if type == 'link_page' }}
    {{ partial:components/links/page }}
  {{ /if }}

  {{ if type == 'link_download' }}
    {{ partial:components/links/download }}
  {{ /if }}

  {{ if type == 'link_external' }}
    {{ partial:components/links/external }}
  {{ /if }}

  {{ if type == 'image' }}
    {{ partial:components/media/image }}
  {{ /if }}

  {{ if type == 'image_gallery' }}
    {{ partial:components/media/image-gallery }}
  {{ /if }}

  {{ if type == 'video_embed' }}
    {{ partial:components/media/video-embed }}
  {{ /if }}

  {{ if type == 'project_previews' }}

    {{ partial:projects/previews }}

  {{ /if }}

  {{ if type == 'supported_projects' }}

    {{ partial:projects/supported }}

  {{ /if }}

  {{ if type == 'anchor' }}

    {{ partial:components/anchor }}

  {{ /if }}



{{ /content }}

{{ /partial:layout/section}}