{{ if type == 'editor' }}
  {{ partial:layout/inner }}
    {{ partial:components/editor }}
  {{ /partial:layout/inner}}
{{ /if }}

{{ if type == 'form' }}
  {{ partial:layout/inner }}
    
    {{ if form:handle == 'contact_form' }}
      {{ partial:components/forms/contact }}
    {{ /if }}
    
    {{ if form:handle == 'application_form' }}
      {{ partial:components/forms/application }}
    {{ /if }}

  {{ /partial:layout/inner}}
{{ /if }}

{{ if type == 'project_slideshow' }}
{{ partial:components/swiper/index }}
{{ /if }}

{{ if type == 'banner' }}
{{ partial:components/banner }}
{{ /if }}

