<div class="md:grid md:grid-cols-12 md:gap-30 lg:gap-45 xl:gap-60">
  {{ projects }}
    {{ project }}
      <div class="{{ if layout == 'wide' }} md:col-span-8 {{ /if }} {{ if layout == 'narrow' }} md:col-span-4 {{ /if }}">
        <a href="/foerderung/{{ category }}/{{ title | slugify }}"
          class="group !no-underline">
          <figure class="mb-15 md:mb-20 lg:mb-25">
            {{ if teaser_image }}
              <picture>
                <source media="(min-width: 768px)" srcset="{{ glide:teaser_image preset='lg-webp' }}" type="image/webp">
                <source srcset="{{ glide:teaser_image preset='md-webp' }}" type="image/webp">
                <source media="(min-width: 768px)" srcset="{{ glide:teaser_image preset='lg' }}" type="image/jpeg">
                <img 
                  src="{{ glide:teaser_image preset='md' }}" 
                  alt="{{ teaser_image:alt }}" 
                  title="{{ teaser_image:alt }}" 
                  height="{{ teaser_image:height }}" 
                  width="{{ teaser_image:width }}"
                  class="block w-full h-auto object-cover group-hover:opacity-80 transition-opacity {{ if layout == 'wide' }} aspect-[16/9] {{ else }} aspect-[1/1.214] max-w-[50%] md:max-w-none {{ /if }}"
                  loading="lazy">
              </picture>
            {{ else }}
              <picture>
                <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
                <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
                <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
                <img 
                  src="{{ glide:image preset='md' }}" 
                  alt="{{ image:alt }}" 
                  title="{{ image:alt }}" 
                  height="{{ image:height }}" 
                  width="{{ image:width }}"
                  class="block w-full h-auto object-cover group-hover:opacity-80 transition-opacity {{ if layout == 'wide' }} aspect-[16/9] {{ else }} aspect-[1/1.214] max-w-[50%] md:max-w-none {{ /if }}"
                  loading="lazy">
              </picture>
            {{ /if }}
          </figure>
          <div class="mb-40 md:mb-0 group-hover:text-rose">
            <h3>{{ title }}</h3>
            {{ teaser | nl2br }}
            <div class="mt-15 md:mt-20 lg:mt-25 underline decoration-1 underline-offset-4 group-hover:text-rose">Weitere Informationen</div>
          </div>
        </a>
      </div>
    {{ /project}}
  {{ /projects }}
  </div>