<nav>
  <ul class="flex items-end">
    <li>
      <a href="https://facebook.com" title="Visit us on Facebook" class="flex items-center justify-center w-auto p-6 hover:text-rose transition-colors">
        {{ partial:icons/facebook class="block w-auto h-22" }}
      </a>
    </li>
    <li>
      <a href="https://instagram.com" title="Visit us on Instagram" class="flex items-center justify-center w-auto p-6 hover:text-rose transition-colors">
        {{ partial:icons/instagram class="block w-auto h-21" }}
      </a>
    </li>
    <li>
      <a href="https://linkedin.com" title="Visit us on LinkedIn" class="flex items-center justify-center w-auto p-6 hover:text-rose transition-colors">
        {{ partial:icons/linkedin class="block w-auto h-21" }}
      </a>
    </li>
  </ul>
</nav>
