<div class="mb-30 sm:mb-45 lg:mb-60 xl:mb-75">
  <a name="{{ category | slugify }}"></a>
  <h3>{{ category }}</h3>
  <div class="sm:grid sm:grid-cols-12 sm:gap-30 lg:gap-45 xl:gap-60">
  {{ members }}
    <div class="mb-30 sm:mb-0 sm:col-span-6 md:col-span-4 leading-[1.2] lg:leading-[1]">
      <figure class="mb-15 md:mb-20 lg:mb-25">
        <picture>
          <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
          <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
          <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
          <img 
            src="{{ glide:image preset='md' }}" 
            alt="{{ image:alt }}" 
            title="{{ image:alt }}" 
            height="{{ image:height }}" 
            width="{{ image:width }}"
            class="block w-full h-auto object-cover aspect-[360/285]"
            loading="lazy">
        </picture>
      </figure>
      {{ firstname }} {{ name }}<br>
      <span class="text-xxs sm:text-sm md:text-sm lg:text-base">
        {{ position }}
      </span>
    </div>
  {{ /members }}
  </div>
</div>