<figure class="w-full mt-24 md:mt-48 {{ class }}">
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:image preset='md' }}" 
      alt="{{ image:alt }}" 
      title="{{ image:alt }}" 
      height="{{ image:height }}" 
      width="{{ image:width }}"
      class="block w-full h-auto object-cover {{ image:height > image:width ? 'max-w-[70%]' : '' }}"
      {{ if isPoster }}
      data-poster
      {{ /if }}
      loading="lazy">
  </picture>
  {{ if caption }}
    <figcaption class="text-lg mt-16">
      {{ caption }}
    </figcaption>
  {{ /if }}
</figure>